.venv/
_pycache_/
*.pyc

runs/
onion_dataset/
onion_3class_dataset/

.vscode/
*.log

static/uploads/
static/results/

templates/
yolo11n.pt

AI-onion-quality-detector/dataset/static/uploads/
AI-onion-quality-detector/dataset/static/results/